<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/defaultLayout}">

<th:block layout:fragment="css"></th:block>
<th:block layout:fragment="script"></th:block>

<div  layout:fragment="content">

    <a th:href="@{/communityDiscussion}">
        <h2>예/적금 분석 및 토론 게시판</h2>
    </a>

    <div>
        <a th:href="@{/community/DiscussionWrite}" class="write-button">작성</a>
    </div>
    <table>
        <thead>
        <tr>
            <th>제목</th>
            <th>작성자</th>
            <th>작성일</th>
            <th>조회수</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="board : ${communityBoardListDto}">
            <td>
                <a th:href="@{/community/detail/{id}(id=${board.id})}" th:text="${board.title}">제목</a>
                <span th:if="${board.hasImage}" style="margin-left:4px">🖼️</span>
            </td>
            <td th:text="${board.name}">작성자</td>
            <td th:text="${board.formattedWriteDate}">작성일</td>
            <td th:text="${board.hit}">조회수</td>
        </tr>
        </tbody>
    </table>

</div>

</html>