<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/defaultLayout}">

<th:block layout:fragment="css">
  <link rel="stylesheet" th:href="@{/css/community/DiscussionWrite.css}" />
</th:block>
<th:block layout:fragment="script">
  <script th:src="@{/javascript/community/DiscussionWrite.js}" defer></script>
</th:block>

<div  layout:fragment="content">
  <a th:href="@{/communityDiscussion}">
    <h2>예/적금 분석 및 토론 게시판</h2>
  </a>

  <form id="writeForm" enctype="multipart/form-data">

    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>


    <div>
      <label for="title">제목</label>
      <input type="text" id="title" name="title"
             th:value="${communityWriteDto.title}" placeholder="제목을 입력하세요" required />
    </div>

    <div>
      <label for="discussionContent">내용</label>
      <textarea id="discussionContent" name="content" rows="8"
                placeholder="내용을 입력하세요" required
                th:text="${communityWriteDto.content}"></textarea>
    </div>

    <div>
      <label for="images">이미지 첨부</label>
      <input type="file" id="images" name="images"
             multiple accept="image/*" onchange="handleFiles(this.files)"/>
      <div id="preview-container"></div>
    </div>

    <div>
      <div th:each="img : ${communityWriteDto.existingImages}"
           th:data-url="${img.imgUrl}"
           th:data-id="${img.id}"
           class="existing-image"></div>
    </div>

    <div class="button-group">
      <button type="submit">작성 완료</button>
      <a th:href="@{/communityDiscussion}" class="btn-cancel">취소</a>
    </div>
  </form>

</div>

</html>