<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/defaultLayout}">

<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/community/Tip.css}">
</th:block>
<th:block layout:fragment="script">
    <script th:src="@{/javascript/community/Tip.js}"></script>
</th:block>

<div layout:fragment="content">

    <a th:href="@{/communityTip}">
        <h2>지출/저축tip 게시판</h2>
    </a>

    <div>
        <a th:href="@{/community/TipWrite}" class="write-button">작성</a>
    </div>
    <table>
        <thead>
        <tr>
            <th>제목</th>
            <th>작성자</th>
            <th>작성일</th>
            <th>조회수</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="board : ${communityBoardListDto}">
            <td>
                <a th:href="@{/community/detail/{id}(id=${board.id})}"
                   th:text="${board.title}">제목</a>
                <span th:if="${board.hasImage}" style="margin-left:4px">🖼️</span>
                <span th:if="${board.hasGraph}" style="margin-left:2px">📊</span>

                <span th:if="${board.commentCount > 0}" style="margin-left:4px"
                      th:text="'[' + ${board.commentCount} + ']'"></span>
            </td>
            <td th:text="${board.name}">작성자</td>
            <td th:text="${board.formattedWriteDate}">작성일</td>
            <td th:text="${board.hit}">조회수</td>
        </tr>
        </tbody>
    </table>

<!--    검색 폼 시작-->

    <form th:action="@{/communityTip}" method="get" class="search-form">
        <select name="searchType">
            <option th:each="type : ${searchTypes}"
                    th:value="${type}"
                    th:text="${type.label}"
                    th:selected="${type} == ${communitySearchDto.searchType}">제목</option>
        </select>

        <input type="text" name="keyword" placeholder="검색어를 입력하세요"
                th:value="${communitySearchDto != null ? communitySearchDto.keyword : ''}" />

        <button type="submit">검색</button>
    </form>

</div>
</html>