<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/defaultLayout}">

<!-- CSS / JS -->
<th:block layout:fragment="css">
  <link rel="stylesheet" th:href="@{/css/community/TipDetail.css}" />
</th:block>
<th:block layout:fragment="script">
  <script th:src="@{/javascript/community/TipDetail.js}"></script>
</th:block>

<!-- Content -->
<div layout:fragment="content">
  <!-- 이미지 확대용 모달 -->
  <div id="imageModal" class="modal">
    <span class="close" onclick="closeModal()">&times;</span>
    <img class="modal-content" id="modalImage">
  </div>

  <h2>지출/저축tip 게시판</h2>

  <!-- 게시글 수정/삭제 버튼 (작성자만 보임) -->
  <div th:if="${loginUserName == DetailDto.memberAccessId}">
    <form th:action="@{/community/delete/{id}(id=${DetailDto.id})}" method="post" style="display:inline">
      <button type="submit" onclick="return confirm('정말 삭제하시겠습니까?')">게시글 삭제</button>
    </form>

    <form th:action="@{/community/DiscussionEdit/{id}(id=${DetailDto.id})}" method="get" style="display:inline">
      <button type="submit" onclick="return confirm('수정 하시겠습니까?')">게시글 수정</button>
    </form>
  </div>

  <div>
    <h3 th:text="${DetailDto.title}">게시글 제목</h3>
  </div>

  <div>
    <p><strong>작성자 :</strong> <span th:text="${DetailDto.name}">작성자</span></p>
    <p><strong>작성일 :</strong>
      <span th:text="${#temporals.format(DetailDto.writeDate, 'yyyy-MM-dd HH:mm')}">작성일</span>
      <span th:if="${DetailDto.updateDate != null and
      DetailDto.writeDate != DetailDto.updateDate}">(수정됨)</span>
    </p>
  </div>

  <!--  게시글 내용-->
  <div>
    <p th:text="${DetailDto.content}">내용</p>
  </div>

  <!--  이미지 리스트-->
  <div th:if="${DetailDto.images != null}">
    <h4>첨부 이미지</h4>
    <div th:each="image : ${DetailDto.images}">
      <img class="detail-image"
           th:src="${image.imgUrl}"
           th:alt="${image.originalName}"
           onclick="openModal(this.src)" />
    </div>
  </div>

  <!-- 그래프 -->
  <div th:if="${DetailDto.graphs != null}">
    <h4>첨부 그래프</h4>
    <ul>
      <li th:each="graph : ${DetailDto.graphs}">
        기간: <span th:text="${#temporals.format(graph.startDate, 'yyyy-MM-dd')}"></span> ~
        <span th:text="${#temporals.format(graph.finishDate, 'yyyy-MM-dd')}"></span>
      </li>
    </ul>
  </div>

  <!-- 댓글 입력 -->
  <h4>댓글</h4>
  <form th:action="@{/community/detail/{id}/comment(id=${DetailDto.id})}" method="post">
    <textarea name="content" placeholder="댓글을 입력하세요" required></textarea>
    <button type="submit">댓글 등록</button>
  </form>

  <!-- 댓글 목록 -->
  <div th:each="comment : ${DetailDto.comments}">
    <div th:if="${comment.deleted}">
      <p><i style="color: gray;">삭제된 댓글입니다.</i></p><br>
    </div>
    <div th:unless="${comment.deleted}">
      <p>
        <strong th:text="${comment.name}">작성자</strong>
        <span th:text="${#temporals.format(comment.writeDate, 'yyyy-MM-dd HH:mm')}">작성일</span>
        <span th:if="${comment.updateDate != null and comment.writeDate != comment.updateDate}">(수정됨)</span>
      </p>
      <div th:if="${#strings.equals(comment.userAccessId, loginUserName)}">
        <button type="button" th:onclick="|updateComment(${comment.id})|">수정</button>
        <form th:action="@{/community/comment/delete/{commentId}(commentId=${comment.id})}" method="post" style="display:inline">
          <button type="submit">삭제</button>
        </form>
      </div>
      <p th:id="|comment-content-${comment.id}|" th:text="${comment.content}">댓글 내용</p><br>
      <div th:id="|update-form-${comment.id}|" style="display: none;">
        <form th:action="@{/community/comment/update/{commentId}(commentId=${comment.id})}" method="post">
          <textarea name="content">[[${comment.content}]]</textarea>
          <button type="submit">저장</button>
        </form>
      </div>
    </div>
  </div>
</div>
</html>
