<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/defaultLayout}">

<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/insite/asset.css}" />
    <link rel="stylesheet" th:href="@{/css/insite/asset-modal.css}" />
</th:block>
<th:block layout:fragment="script">
    <script th:src="@{/javascript/transaction/asset.js}"></script>
</th:block>

<div  layout:fragment="content">
    <div class="container">
        <!-- 타이틀 -->
        <div class="asset-header">
            <div class="asset-header-content">
                <div class="asset-title">
                    <div class="dot"></div>
                    <span>자산관리</span>
                </div>
                <div>
                    <button class="asset-btn" id="add-asset-btn">내 자산 추가</button>
                </div>
            </div>
                <div id="asset-main-modal" class="asset-modal-overlay hidden">
                    <div class="asset-modal-content">

                        <form id="asset-main-form">
                            <div class="asset-modal-title">내 자산 추가</div>
                            <div class="section">
                                <div class="section-title">자산 타입</div>
                                <div class="button-group">
                                    <button type="button" class="type-button selected" data-value="CASH">현금</button>
                                    <button type="button" class="type-button" data-value="ORDINARY">보통예금</button>
                                    <input type="hidden" id="asset-type-input" value="CASH">
                                </div>
                            </div>

                            <div class="section">
                                <div class="section-title">자산 별칭</div>
                                <div class="input-group">
                                    <input type="text" id="asset-alias-input" placeholder="예: 내 지갑, 비상금" required>
                                </div>
                            </div>

                            <div class="section">
                                <div class="section-title">초기 잔액</div>
                                <div class="input-group">
                                    <input type="number" id="asset-balance-input" placeholder="0" required>
                                </div>
                            </div>

                            <div class="actions">
                                <button type="button" id="asset-main-cancel-btn">취소</button>
                                <button type="button" id="asset-main-next-btn" disabled>등록</button>
                            </div>
                        </form>
                    </div>
                </div>

                <div id="asset-bank-modal" class="asset-modal-overlay hidden">
                    <div class="asset-modal-content">
                        <div class="asset-modal-title">계좌 정보 입력</div>

                        <form id="asset-bank-form">
                            <div class="section">
                                <div class="section-title">은행</div>
                                <div class="input-group">
                                    <select id="asset-bank-select" required>
                                        <option value="" selected disabled>은행을 선택하세요</option>
                                    </select>
                                </div>
                            </div>

                            <div class="section">
                                <div class="section-title">계좌번호</div>
                                <div class="input-group">
                                    <input type="text" id="asset-account-number-input" placeholder="'-' 없이 숫자만 입력" required>
                                </div>
                            </div>

                            <div class="actions">
                                <button type="button" id="asset-bank-cancel-btn">취소</button>
                                <button type="button" id="asset-bank-register-btn" disabled>등록</button>
                            </div>
                        </form>
                    </div>
                </div>

        </div>

        <!-- 목표 소비금액 -->
        <div class="con-container-1">
            <div class="consump">
                <div class="con-title" th:text="${memberName} + '님의 이번 달 목표 소비금액'"></div>
                <div class="consump-box">
                    <div class="food-expense-box">
                        <div class="food-expense">
                            <p class="c-title">식비</p>
                            <p class="c-content" th:text="${#numbers.formatInteger(goalConsumDto.foodExpense, 1, 'COMMA')} + '원'"></p>
                        </div>
                        <div class="foot-food-box">
                            <div class="warning-box"
                                 th:if="${foodAlert.excessAmount > 0}">
                                ☆★ 이상 소비 탐지 ☆★
                            </div>
                            <div class="text-box">
                            <p>현재 사용금액</p>
                            <div class="now-consump" th:text="${#numbers.formatInteger(foodAlert.expenseAmount, 1, 'COMMA')} + '원'">
                            </div>
                            <div class="over-amount"
                                 th:if="${foodAlert.excessAmount > 0}"
                                 th:text="${#numbers.formatInteger(foodAlert.excessAmount, 1, 'COMMA')} + '원 초과!'">
                            </div>
                            <div class="fit-amount"
                                 th:unless="${foodAlert.excessAmount > 0}">
                                사용 금액이 목표 이내입니다.
                            </div>
                        </div>
                        </div>
                    </div>
                    <div class="communication-box">
                        <div class="communication">
                            <p class="c-title">주거/통신</p>
                            <p class="c-content" th:text="${#numbers.formatInteger(goalConsumDto.communication, 1, 'COMMA')} + '원'"></p>
                        </div>
                        <div class="foot-communication-box">
                            <div class="warning-box"
                                 th:if="${commAlert.excessAmount > 0}">
                                ☆★ 이상 소비 탐지 ☆★
                            </div>
                            <div class="text-box">
                                <p>현재 사용금액</p>
                                <div class="now-consump" th:text="${#numbers.formatInteger(commAlert.expenseAmount, 1, 'COMMA')} + '원'">
                                </div>
                                <div class="over-amount"
                                     th:if="${commAlert.excessAmount > 0}"
                                     th:text="${#numbers.formatInteger(commAlert.excessAmount, 1, 'COMMA')} + '원 초과!'">
                                </div>
                                <div class="fit-amount"
                                     th:unless="${commAlert.excessAmount > 0}">
                                    사용 금액이 목표 이내입니다.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="insurance-box">
                        <div class="insurance">
                            <p class="c-title">보험</p>
                            <p class="c-content" th:text="${#numbers.formatInteger(goalConsumDto.insurance, 1, 'COMMA')} + '원'"></p>
                        </div>
                        <div class="foot-insurance-box">
                            <div class="warning-box"
                                 th:if="${insuAlert.excessAmount > 0}">
                                ☆★ 이상 소비 탐지 ☆★
                            </div>
                            <div class="text-box">
                                <p>현재 사용금액</p>
                                <div class="now-consump" th:text="${#numbers.formatInteger(insuAlert.expenseAmount, 1, 'COMMA')} + '원'">
                                </div>
                                <div class="over-amount"
                                     th:if="${insuAlert.excessAmount > 0}"
                                     th:text="${#numbers.formatInteger(insuAlert.excessAmount, 1, 'COMMA')} + '원 초과!'">
                                </div>
                                <div class="fit-amount"
                                     th:unless="${insuAlert.excessAmount > 0}">
                                    사용 금액이 목표 이내입니다.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="etc-box">
                        <div class="etc">
                            <p class="c-title">기타</p>
                            <p class="c-content" th:text="${#numbers.formatInteger(goalConsumDto.etc, 1, 'COMMA')} + '원'"></p>
                        </div>
                        <div class="foot-insurance-box">
                            <div class="warning-box"
                                 th:if="${etcAlert.excessAmount > 0}"                            >
                                ☆★ 이상 소비 탐지 ☆★
                            </div>
                            <div class="text-box">
                                <p>현재 사용금액</p>
                                <div class="now-consump" th:text="${#numbers.formatInteger(etcAlert.expenseAmount, 1, 'COMMA')} + '원'">
                                </div>
                                <div class="over-amount"
                                     th:if="${etcAlert.excessAmount > 0}"
                                     th:text="${#numbers.formatInteger(etcAlert.excessAmount, 1, 'COMMA')} + '원 초과!'">
                                </div>
                                <div class="fit-amount"
                                     th:unless="${etcAlert.excessAmount > 0}">
                                    사용 금액이 목표 이내입니다.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 두번째 박스 -->
        <div class="con-container-2">
            <div class="fixed-summary-box">
                <!-- 프로그레스 바 -->
                <div class="progress-bar-wrapper">
                    <div class="progress-bar-bg">
                        <div class="progress-bar-fill"
                             th:style="'width:' + ${saveRate} + '%'"></div>
                    </div>
                </div>
                <!-- 텍스트 정보 -->
                <div class="asset-text-box">
                    <div>
                        <p th:text="${memberName} + '님의 고정수익'"></p>
                        <h2 th:text="${#numbers.formatInteger(income, 1, 'COMMA')} + '원'"></h2>
                    </div>
                    <div>
                        <p th:text="${memberName} + '님의 고정저축'"></p>
                        <h2 th:text="${#numbers.formatInteger(saving, 1, 'COMMA')} + '원'"></h2>
                    </div>
                    <div>
                        <p>저축률</p>
                        <h2 th:text="${#numbers.formatDecimal(saveRate, 1, 1)} + '%'"></h2>
                    </div>
                </div>
            </div>

            <div class="total-consump-box">
<!--                <div class="saving-box">-->
<!--                    <div class="saving-title">-->
<!--                        <div class="square"></div>-->
<!--                        <span th:text="${memberName} + '님의 예/적금'"></span>-->
<!--                    </div>-->
<!--                    <div class="saving-list-box">-->
<!--                        <div class="saving-list">-->
<!--                            <div class="saving-header">적금</div>-->
<!--                            <div class="saving-content-box">-->
<!--                                <div class="saving-account-box">-->
<!--                                    <p class="saving-s-title">청년내일 저축 계좌</p>-->
<!--                                    <p class="saving-s-account">100,000,000원</p>-->
<!--                                </div>-->
<!--                                <div class="saving-right">►</div>-->
<!--                                <div class="saving-Expectation-box">-->
<!--                                    <p class="saving-s-title">14개월 후 예상 금액</p>-->
<!--                                    <p class="saving-s-account">1,000,000,000원</p>-->
<!--                                </div>-->
<!--                            </div>-->

<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
                <div class="total-box">
                    <div class="saving-title">
                        <div class="square"></div>
                        <span><b>7월 </b>total</span>
                    </div>
                    <div class="total-month">
                        <p class="total-m-t">이번 달</p>
                        <div class="total-amount" th:text="${#numbers.formatInteger(monthTotal.monthlySpent, 1, 'COMMA')} + '원'"></div>
                    </div>
                    <div class="total-history">
                        <p class="total-m-t">누적</p>
                        <div class="total-amount" th:text="${#numbers.formatInteger(monthTotal.totalSpent, 1, 'COMMA')} + '원'"></div>
                    </div>
                    <div class="total-today">
                        <p class="total-m-t">1일</p>
                        <div class="total-amount" th:text="${#numbers.formatInteger(monthTotal.dailySpent, 1, 'COMMA')} + '원'"></div>
                    </div>
                    <div class="go-schedule"><a th:href="@{/transaction/wallet}">가계부로 이동</a></div>
                </div>
            </div>
                <div class="saving-situation">
                    <p class="saving-situation-title" th:text="${memberName} + '님의 저축생활'"></p>

                    <div class="progress-bar-wrapper">
                        <div class="progress-bar-bg">
                            <th:block th:if="${savingSummary.total > 0}">
                                <div class="progress-bar-fill-deposit"
                                     th:style="'width:' + ${savingSummary.depositTotal * 100 / savingSummary.total} + '%'"></div>
                                <div class="progress-bar-fill-saving"
                                     th:style="'width:' + ${savingSummary.savingTotal * 100 / savingSummary.total} + '%'"></div>
                                <div class="progress-bar-fill-account"
                                     th:style="'width:' + ${savingSummary.accountTotal * 100 / savingSummary.total} + '%'"></div>
                            </th:block>
                        </div>
                    </div>
                    <div class="asset-text-box">
                        <div>
                            <p th:text="${memberName} + '님의 예금'"></p>
                            <h2 th:text="${#numbers.formatInteger(savingSummary.depositTotal, 1, 'COMMA')} + '원'"></h2>
                        </div>
                        <div>
                            <p th:text="${memberName} + '님의 적금'"></p>
                            <h2 th:text="${#numbers.formatInteger(savingSummary.savingTotal, 1, 'COMMA')} + '원'"></h2>
                        </div>
                        <div>
                            <p th:text="${memberName} + '님의 계좌'"></p>
                            <h2 th:text="${#numbers.formatInteger(savingSummary.accountTotal, 1, 'COMMA')} + '원'"></h2>
                        </div>
                        <div>
                            <p><b>토탈금액</b></p>
                            <h2 th:text="${#numbers.formatInteger(savingSummary.total, 1, 'COMMA')} + '원'"></h2>
                        </div>
                    </div>
                </div>
                <!-- 소비습관 -->
            <div class="con-container-3">
                <div class="consumption-habit">
                    <p class="saving-situation-title" th:text="${memberName} + '님의 소비습관'"></p>
                    <div class="consump-habit-content">
                        <div class="c-h-circle-1">
                            현재<br>
                            <span th:text="${memberName} + '님이'"></span>
                            <br>
                            가장 많이 쓴 카테고리
                            <p class="c-h-circle-content" th:text="${mostSpent}"></p>
                        </div>
                        <div class="c-h-circle-2">
                            현재<br>
                            <span th:text="${memberName} + '님이'"></span>
                            <br>
                            가장 적게 쓴 카테고리
                            <p class="c-h-circle-content" th:text="${leastSpent}"></p>
                        </div>
                        <div class="c-h-circle-3">
                            현재<br>
                            <span th:text=" ${memberName} + '님이'"></span>
                            <br>
                            목표 소비액과 비슷한 카테고리
                            <p class="c-h-circle-content" th:text="${mostAligned}"></p>
                        </div>
                    </div>
                    <div class="consump-result">총 목표 소비액보다 <span th:text="${gapMessage}"></span></div>
                </div>

                <!-- 절약 방법 -->
                <div class="presenting-method">
                    <p class="saving-situation-title" th:text="${memberName} + '님을 위한 절약방법 추천'"></p>
                    <p class="saving-situation-sub-title" th:with="nextMonthAmount=${goalConsumDto.foodExpense + goalConsumDto.communication + goalConsumDto.insurance + goalConsumDto.etc - gapAmount}">
                        다음 달 소비액은 <span th:text="|${#numbers.formatInteger(nextMonthAmount, 1, 'COMMA')}원|"></span>이 좋을 것 같아요!
                    </p>
                    <div class="next-month-consump">
                        <div class="consum-result-box-1">
                            <div class="c-char-1">
                                <img th:src="@{images/coffee.png}" alt="커피이미지">
                            </div>
                            <span class="c-r-text">별다방에 비해 탕비실 커피는 공짜랍니다!</span>
                            <span class="c-r-content" th:text="|아메리카노 ${#numbers.formatDecimal(suggestionDto.americanoCount, 1, 1)}잔 덜 마시기|"></span>
                        </div>
                        <div class="consum-result-box-2">
                            <div class="c-char-2">
                                <img th:src="@{images/alcohol.png}" alt="술이미지">
                            </div>
                            <span class="c-r-text">" 다음에 내가 또 술을 마시면... " 을 실천해볼까요?</span>
                            <span class="c-r-content" th:text="|술자리를 ${#numbers.formatDecimal(suggestionDto.alcoholCount, 1, 1)}번 덜 가기|"></span>
                        </div>
                        <div class="consum-result-box-3">
                            <div class="c-char-3">
                                <img th:src="@{images/suitcase.png}" alt="여행이미지">
                            </div>
                            <span class="c-r-text">해외여행! 감당 가능하십니까..?</span>
                            <span class="c-r-content" th:text="|해외여행 ${#numbers.formatDecimal(suggestionDto.travelCount, 1, 1)}번 덜 가기|"></span>
                        </div>
                        <div class="consum-result-box-4">
                            <div class="c-char-4">
                                <img th:src="@{images/bag.png}" alt="가방">
                            </div>
                            <span class="c-r-text">명품 소유자보단 명품 Tigggler!</span>
                            <span class="c-r-content" th:text="|명품구입 ${#numbers.formatDecimal(suggestionDto.luxuryCount, 1, 1)}번 덜 하기|"></span>
                        </div>
                    </div>
                </div>
            </div>
            </div>


        <!-- 세번째 박스 -->

    </div>


</div>

</html>