@import "transaction-modal.css";

*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

/* 테이블 전체에 카운터 초기화 */
.schedule-table {
    counter-reset: row-num;
}

.schedule-table tbody tr td:nth-child(2)::before {
    counter-increment: row-num;   /* 카운터 숫자를 1씩 증가 */
    content: counter(row-num);    /* 증가된 카운터 숫자를 내용으로 표시 */
}

.schedule-table tbody tr td:nth-child(2) {
    text-align: center;
    padding: 8px; /* 필요에 따라 기존 padding 값과 동일하게 조정 */
}

td.expense {
    color: red; /* 지출일 경우 빨간색 */
    font-weight: bold;
}

td.income {
    color: #3340CBFF; /* 수입일 경우 파란색 */
    font-weight: bold;
}