<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/defaultLayout}">

<th:block layout:fragment="css"><link rel="stylesheet" href="/css/forget.css"></th:block>
<th:block layout:fragment="script"></th:block>

<div  layout:fragment="content">
    <div id="forgetWrap">
        <div class="titles">
            <h2 class="wrapTitle " th:classappend="${target=='id' ? 'active' :''}" data-target="#forgetBox1">아이디 찾기</h2>
            <h2 class="wrapTitle" th:classappend="${target=='password' ? 'active' :''}" data-target="#forgetBox2">비밀번호 찾기</h2>
        </div>
        <div id="forgetBox1" class="forget-box " th:classappend="${target=='id' ? 'active' :''}">
            <form name="findIdFm" id="findIdFm" method="post" action="">
                <div class="input-field">
                    <label>이메일</label>
                    <input type="email" name="email" id="email">
                </div>
                <div class="form-bt">
                    <button type="button" id="findIdBt" class="btn">아이디 찾기</button>
                </div>
            </form>
        </div>
        <div id="forgetBox2" class="forget-box" th:classappend="${target=='password' ? 'active' :''}">
            <form name="findPwFm" id="findPwFm" method="post" action="">
                <div class="input-field">
                    <label>아이디</label>
                    <input type="text" name="accessId" id="accessId">
                </div>
                <div class="input-field">
                    <label>이메일</label>
                    <input type="email" name="email" id="email">
                    <button type="button" class="btn email-btn">인증번호요청</button>
                </div>
                <div class="input-field auth-input">
                    <div class="auth-input-field">
                        <input type="text" name="authNum" id="authNum" placeholder="인증번호를 입력하세요">
                        <span class="authTime"></span>
                        <button type="button" class="btn auth-bt">인증</button>
                    </div>
                </div>
                <div class="form-bt">
                    <button type="button" id="findPwBt" class="btn">비밀번호 찾기</button>
                </div>
            </form>
        </div>
    </div>
    <script>


        $(function(){
            $(".wrapTitle").addClass("visible");
            $(".wrapTitle").on("click", function(){
                var $this = $(this);
                var target = $this.data('target');

                $(".wrapTitle").removeClass("active");
                $this.addClass("active");

                $(".forget-box.active")
                    .removeClass("active")
                    .fadeOut(200, function(){
                        $(target)
                            .fadeIn(200)
                            .addClass("active");
                    });
            });
        });

        $("#forgetBox2 .email-btn").click(function(){
            // var token = $("meta[name='_csrf']").attr("content");
            // var header = $("meta[name='_csrf_header']").attr("content");

            // var url = "/user/idCheck/?id=" + $(this).val();

            // $.ajax({
            //     url      : url,
            //     type     : "POST",
            //     beforeSend : function(xhr){
            //         /* 데이터를 전송하기 전에 헤더에 csrf값을 설정 */
            //         xhr.setRequestHeader(header, token);
            //     },
            //     dataType : "json",
            //     cache   : false,
            //     success  : function(result, status){
            //         $(".dupcheck").text("사용가능한 아이디 입니다.");
            //     },
            //     error : function(jqXHR, status, error){
            //         $(".dupcheck").text("사용중인 아이디 입니다.");

            //         // $("#joinBt").attr("disabled","true");
            //     }
            // });
            $(".auth-input").show();
            var t=300;
            setInterval(function(){

                var remainTime = (parseInt(t/60)) +":"+ (( t%60) < 10? '0'+( t%60) : ( t%60));
                t-=1;
                $(".authTime").text(remainTime);
            },1000);
        });

        $("#name").focus();


        // $(document).on("keydown", function(e){
        //     if(e.key==='Enter'){
        //         $("#findBt").trigger('click');
        //     }
        // });
        // $("#findBt").on("click",function(){
        //     var id = $("#name").val();
        //     var pw = $("#tel").val();
        //     if(id===''){
        //         alert("야!  이름 입력해");
        //         $("#name").focus();
        //     }else if(pw===''){
        //         alert("야!! 번호 입력해야지@!!!");
        //         $("#tel").focus();
        //     }else{
        //         $("#forgetFm").submit();
        //     }
        // });
    </script>
</div>

</html>