*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

A{
    text-decoration: none;
    color:inherit;
}

UL{
    list-style-type:none;
}
IMG{ width:100%; }
INPUT{
    border:0;
    outline: none;
    border-radius:7px;
    padding:10px;
    border:1px solid #fcfcfc;
}


/*  header.html */
#header_wrap{
    width:100%;
    background: #fff;
    transition: all 0.8s;
    position: relative;
}
#nav{
    padding: 20px 40px;
}
#header_wrap:hover{
    background: #3340cb;
    color:white;
}
#header_wrap .innerNav{
    display:flex;
    align-items: center;
    width:100%;
    justify-content: space-between;
}
#header_wrap .logo-img{
    width: 200px;
    text-align:center;
}
#header_wrap .menuBox{ width:100%;}
#header_wrap .menuBox .menu-list{
    display:flex;
    justify-content: center;
}
#header_wrap .menuBox .menu{ flex:1;  text-align: center;}
#header_wrap .userBox{
    display: flex;
    justify-content: center;
    align-items: center;
}
#header_wrap .userBox .uitem{ flex:1; text-align: center; width:100px;}
#header_wrap .userBox .signUp-bt{
    border-radius:20px;
    padding:10px 5px;
    background-image: linear-gradient(to bottom, #1a53d1, #3a78ea);
    color:#fff;
}
#content{
    width:100%;
}