<!DOCTYPE html>
<html
        lang="ko"
        xmlns:th="http://www.thymeleaf.org">
<head>
  <title>정기 입/출금 관리</title>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <meta name="_csrf" th:content="${_csrf.token}"/>
  <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
  <link rel="stylesheet" th:href="@{/css/transaction/scheduled-transaction.css}" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
</head>

<body>
<div class="container">
  <h1>정기 입/출금 관리</h1>

  <div class="actions">
    <button id="add-schedule-btn">새로운 내역 추가</button>
    <button id="delete-selected-schedules-btn">선택 항목 삭제</button>
  </div>

  <table class="schedule-table">
    <thead>
    <tr>
      <th><input type="checkbox" id="select-all-schedules"></th>
      <th>번호</th>
      <th>내용</th>
      <th>금액</th>
      <th>분류</th>
      <th>주기</th>
      <th>자산이름</th>
      <th>실행일</th>
      <th>다음 예정일</th>
      <th>만기일</th>
      <th>메모</th>
      <th>자산반영</th>
      <th>활성</th>
      <th>관리</th>
    </tr>
    </thead>
    <tbody id="schedule-table-body">
    <tr>
      <td colspan="14">정기 거래 내역을 불러오는 중입니다...</td>
    </tr>
    </tbody>
  </table>
  <button class="close-popup-btn">닫기</button>
</div>

<div id="schedule-modal" class="TR-modal-overlay TR-hidden">
  <div class="TR-modal-content">
    <h2>새로운 정기 거래 추가</h2>

    <form id="schedule-create-form">
      <div class="form-group">
        <label>구분:</label>
        <input type="radio" id="schedule-type-expense" name="scheduleType" value="EXPENSE" checked>
        <label for="schedule-type-expense">지출</label>
        <input type="radio" id="schedule-type-income" name="scheduleType" value="INCOME">
        <label for="schedule-type-income">수입</label>
      </div>

      <div class="form-group">
        <label for="schedule-frequency">반복 주기:</label>
        <select id="schedule-frequency" required>
          <option value="MONTHLY">매월</option>
          <option value="WEEKLY">매주</option>
        </select>
      </div>

      <div class="form-group">
        <label for="schedule-frequency">실행일:</label>
        <div id="day-execution-container">
          <input type="number" id="schedule-day-of-month" min="1" max="31">
          <span class="day-execution-guide">(매월: 1-31일)</span>

          <select id="schedule-day-of-week" class="TR-hidden">
            <option value="1">월요일</option>
            <option value="2">화요일</option>
            <option value="3">수요일</option>
            <option value="4">목요일</option>
            <option value="5">금요일</option>
            <option value="6">토요일</option>
            <option value="7">일요일</option>
          </select>
        </div>
      </div>

      <div class="form-group">
        <label for="schedule-asset">자산:</label>
        <select id="schedule-asset" required></select>
      </div>
      <div class="form-group">
        <label for="schedule-description">내용:</label>
        <input type="text" id="schedule-description" required>
      </div>
      <div class="form-group">
        <label for="schedule-amount">금액:</label>
        <input type="number" id="schedule-amount" required>
      </div>

      <div class="form-group">
        <label for="schedule-keyword">분류:</label>
        <select id="schedule-keyword" required>
          <option value="" selected>== 분류 선택 ==</option>
          <th:block th:each="keyword : ${keywords}">
            <option th:value="${keyword.id}"
                    th:text="${keyword.minorKeyword == null ? keyword.majorKeyword : keyword.majorKeyword + ' > ' + keyword.minorKeyword}">
            </option>
          </th:block>
        </select>
      </div>
      <div class="form-group">
        <label for="schedule-note">메모:</label>
        <textarea id="schedule-note"></textarea>
      </div>

      <div id="start-date-group" class="form-group">
        <label for="schedule-start-date">시작일:</label>
        <input type="date" id="schedule-start-date" disabled>
      </div>

      <div class="form-group">
        <label for="schedule-end-date">종료일 (선택):</label>
        <input type="date" id="schedule-end-date">
      </div>

      <div class="form-group switch-group">
        <label for="schedule-reflect-asset">자산 총액에 반영</label>
        <label class="switch">
          <input type="checkbox" id="schedule-reflect-asset" checked>
          <span class="slider round"></span>
        </label>
      </div>

      <div class="form-group switch-group">
        <label for="schedule-is-active">이 규칙 활성화</label>
        <label class="switch">
          <input type="checkbox" id="schedule-is-active">
          <span class="slider round"></span>
        </label>
      </div>

      <button type="submit" class="submit-button">저장하기</button>
      <button type="button" id="schedule-modal-close-btn" class="close-button">닫기</button>

    </form>
  </div>
</div>

<script th:src="@{/javascript/transaction/scheduled-transaction.js}"></script>
</body>
</html>