<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/defaultLayout}">

<div  layout:fragment="content">
    <div id="intro">
        <div class="intro-box">
            <div class="intro-top">
                <div class="intro-top-left">
                    <h1 class="intro-title">●<span style="font-style: italic;">TIGGGLE</span></h1>
                    <div class="intro-desc">
                        <h2>내손안의 모든일정..</h2>
                        <h2>대충 사이트 첫입장 멘트 자리</h2>
                    </div>
                    <p class="intro-desc2">우리 사이트는 이렇게 멋있고 개쩌는 사이트입니다 굿굿</p>
                    <div class="intro-search-wrap">
                        <div class="intro-search-box">
                            <input type="text" class="search-keyword" placeholder="Find the results you want">
                            <a href="" class="search-bt">
                                <span><i class="bi bi-search"></i></span>
                                <span>Go Search</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="intro-top-right">
                    <div class="intro-card1 intro-card">
                        <div class="intro-card-inner">

                        </div>
                    </div>
                    <div class="intro-card2 intro-card">
                        <div class="intro-card-inner">

                        </div>
                    </div>
                </div>
            </div>
            <div class="intro-bottom">
                <ul class="intor-bottom-list">
                    <li><i class="bi bi-circle-fill"></i> My asset</li>
                    <li><i class="bi bi-circle-fill"></i> Financial news</li>
                    <li><i class="bi bi-circle-fill"></i> Insite</li>
                    <li><i class="bi bi-circle-fill"></i> Household ledger</li>
                    <li><i class="bi bi-circle-fill"></i> Financial instruments</li>
                </ul>
            </div>
        </div>
    </div>
    <div id="section1">
        <div class="section1-top">
            <div>
                <p class="fade-in">통장에 먼지만 쌓이던 그 시절, 이젠 티끌 대신 습관을 쌓자! </p>
                <p> <strong>Tigggle</strong>은 당신의 재정 생활을 똑똑하게 변화 시켜 줄 저축 파트너입니다.</p>
            </div>
        </div>
        <div class="section1-middle section1-content">

            <div class="sec1-text">
                <h2>티끌의 장점 1.</h2>
                <h1>흩어진 자산, 하나로 모아보세요</h1>
                <p>계좌와 소비 내역 통합<br>
                    자산 흐름을 자동 연동과 분석으로 한눈에 파악<br>
                    슬기로운 자산 운영</p>
                <div>
                    <a href="">자산관리 바로가기</a>
                </div>
            </div>
            <div class="sec1-card  reveal right-view delay-1">
                <img src="/images/assetIndex.jpg">
            </div>
        </div>
        <div class="section2-bottom section1-content">
            <div class="sec1-card  reveal left-view delay-1">
                <img src="/images/InsiteIndex.jpg">
            </div>
            <div class="sec1-text">
                <h2>티끌의 장점 2.</h2>
                <h1>보이는 만큼 바뀝니다.</h1>
                <p>소비 습관 및 저축 패턴 분석<br>
                    개인 맞춤형 인사이트 제공을 위한 데이터 기반 해석<br>
                    실질적인 재정 개선</p>
                <div>
                    <a href="">자산관리 바로가기</a>
                </div>
            </div>

        </div>
    </div>
    <div id="section2">
        <div class="section2-top">
            <div class="">
                <h1 class="text-50 pd-tb-20">맹선훈님의 자산</h1>
                <p class="text-30">준훈우님의 자산은 이만큼이 됩니다.</p>
            </div>
            <div class="my-asset-link">
                <a href="">여기??</a>
            </div>
        </div>
        <div class="section2-middle">
            <div class="my-bank-list-wrap">
                <ul class="my-bank-list">
                    <li class="my-bank-box reveal left-view delay-1">
                        <div class="my-bank">
                            <div class="bank-img"></div>
                            <div class="my-bank-info">
                                <div class="my-bank-num">
                                    <span><i class="bi bi-back"></i></span>
                                    <span>카카오뱅크 3333-3334-1324-553</span>
                                </div>
                                <p class="my-bank-money">40,000원</p>
                            </div>
                        </div>
                    </li>
                    <li class="my-bank-box reveal left-view delay-1">
                        <div class="my-bank">
                            <div class="bank-img"></div>
                            <div class="my-bank-info">
                                <div class="my-bank-num">
                                    <span><i class="bi bi-back"></i></span>
                                    <span>카카오뱅크 3333-3334-1324-553</span>
                                </div>
                                <p class="my-bank-money">10,000원</p>
                            </div>
                        </div>
                    </li>
                    <li class="my-bank-box reveal left-view delay-2">
                        <div class="my-bank">
                            <div class="bank-img"></div>
                            <div class="my-bank-info">
                                <div class="my-bank-num">
                                    <span><i class="bi bi-back"></i></span>
                                    <span>카카오뱅크 3333-3334-1324-553</span>
                                </div>
                                <p class="my-bank-money">200원</p>
                            </div>
                        </div>
                    </li>
                    <li class="my-bank-box reveal left-view delay-3">
                        <div class="my-bank">
                            <div class="bank-img"></div>
                            <div class="my-bank-info">
                                <div class="my-bank-num">
                                    <span><i class="bi bi-back"></i></span>
                                    <span>카카오뱅크 3333-3334-1324-553</span>
                                </div>
                                <p class="my-bank-money">1,230,000원</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="my-1">
                <div class="my-q1">
                    <div></div>
                </div>
                <div class="my-q1"><div></div></div>
                <div class="my-q1"><div></div></div>
                <div class="my-q1-up"></div>
            </div>
        </div>
    </div>
    <div id="section3">
        <div class="section3-title">
            <h1 class="sec3-title text-50 pd-tb-20">금융늬우스</h1>
            <h2 class="sec3-desc text-30 pd-tb-20">금융뉴스에는 이런내용을 이런거저런거 보여줄 예정임.</h2>
        </div>
        <div class="slider-wrap">
            <div class="slider-box">
                <ul class="slider">
                    <li class="slider-card">
                        <div></div>
                    </li>
                    <li class="slider-card">
                        <div></div>
                    </li>
                    <li class="slider-card">
                        <div></div>
                    </li>
                    <li class="slider-card">
                        <div></div>
                    </li>
                    <li class="slider-card">
                        <div></div>
                    </li>
                    <li class="slider-card">
                        <div></div>
                    </li>
                    <li class="slider-card">
                        <div></div>
                    </li>
                    <li class="slider-card">
                        <div></div>
                    </li>
                    <li class="slider-card">
                        <div></div>
                    </li>
                    <li class="slider-card">
                        <div></div>
                    </li>
                    <li class="slider-card">
                        <div></div>
                    </li>
                    <li class="slider-card">
                        <div></div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div id="section4">

    </div>
    <script>
        $(window).on("scroll", function () {
            $(".fade-in").each(function () {
                const top = $(this).offset().top;
                const scroll = $(window).scrollTop();
                const windowHeight = $(window).height();
                if (scroll > top - windowHeight + 100) {
                    $(this).addClass("visible");
                }else{
                    $(this).removeClass("visible");
                }
            });
            $('.reveal').each(function () {
                const top = $(this).offset().top;
                const scroll = $(window).scrollTop();
                const windowHeight = $(window).height();

                if (scroll + windowHeight > top + 50) { // 50은 약간의 여유
                    $(this).addClass('show');
                }
            });
        });
    </script>
</div>


</html>